/* Zaklad */
	#zaklad {
		position: absolute;
		left: 50%;
		top: 5px; 
		width: 941px; 
		margin-left: -460px; 
		background:#D1E3F8;    
		font-family: Verdana, Arial, Helvetica;
		font-size:12px; 
	}
/*Obrazek v hlavicce*/

	#dum {
		width: 240px; 
		height: 337px; 
		border:0px; 
	}

/*Paticka webu*/
	#paticka {
		clear:both; 
		width: 941px; 
		height: 25px;	
		background:#0067F0; 
		font-size:11px; 
		color: white;
	}			
/*Zaklad tela*/

	#sloup_levy {
		float: left;
		width: 240px;
		padding:0px;
		margin:0px;
	}
	#sloup_pravy {
		float: left;
		width: 699px;
		min-height: 600px;
		_height: 600px;
		padding: 0px;
		margin: 0px;
		border-left: 2px solid blue;

	}
	#hlavicka {
		width: 699px; 
		height: 100px; 
		border:0px; 
	}
/* Menu */

	#menu {
		overflow: hidden;
		padding:0px;
		margin:0px 0px 10px 5px;
	}
	
	#menu li {
		width: 230px;
		height: 25px;
		line-height: 25px;
		background: #0067F0;
		display: block;
		list-style: none;
		padding:0px;
		margin:5px 0px 0px 0px;
		font-weight: bold;
		text-align: left;
	}

	#menu li a {
		color: white;
		text-decoration: none;
	}
	
	#menu li a:hover {
		color: #FFA0A0;
	}

/*Pruh pod menu*/
	#pruh {
		width: 240px; 
		height: 25px; 

	}
/*Obsah leveho sloupce*/

	.textl {
		text-align:left;
		margin: 10px 10px 10px 10px;
		font-family: Verdana, Arial, Helvetica;
		font-size:12px;
		}
/*Obsah praveho sloupce*/

	.text {
		width: 660px;
		min-height: 160px;
		_height: 160px;   
		text-align:justify;
		margin: 0px 20px 10px 20px;
		font-family: Verdana, Arial, Helvetica;
		font-size:12px;
		}

	.nadpis  {
		margin:0px 20px 20px 20px;
		padding:0px;
		font-family: Verdana, Arial, Helvetica;
		font-size:16px;
		font-weight:bold;
		color: blue;
		}
	.nadpis_proj  {
		margin:0px 20px 20px 20px;
		padding:0px;
		font-family: Verdana, Arial, Helvetica;
		font-size:16px;
		font-weight:bold;
		color: blue;
		text-align: center;
		}




